[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
dj-database-url = "*"
whitenoise = "*"
psycopg2-binary = "*"
"ruamel.yaml" = "*"
pyyaml = "*"
python-dotenv = "==0.19.2"
django = "==3.2.8"
tweepy = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.9"
