{% extends "_base.html" %}

{% block content %}
<div class="pv3 vhs-blur">
    <h1 class="f3 f2-m f1-l pb3 pb5-ns domaine-display lh-title measure-wide center">
        <span class="db">{{ headline }}</span>
        <a href="{% url 'about' %}" class="dib pa2 pa3-l link dim light-pink f7 f6-l normal plex-mono lh-solid">WTF?</a>
    </h1>


    <h4 class="pa0 ma0 f6 f5-ns normal">Get your pick for <a href="{% url 'race_id' id=race.id %}" class="link dim light-pink">{{ race.track }}</a>:</h4>
    <p class="vhs-fade vhs-alternate vhs-infinite vhs-duration-4 vhs-delay-2">
        <a class="f4 f3-ns br2 bg-blue hover-bg-light-purple grow white pa3 link dib" href="/play" onclick="doit(); ga('send', 'event', { eventCategory: 'Button', eventAction: 'Button Press', eventLabel: 'Random Number Fantasy Racing'});">
            Tweet My Random <span class="dn di-ns">Fantasy Racing</span> Pick
        </a>
    </p>
    <p class="f6 light-purple">Your pick will be tweeted to your followers.</p>
</div>      		
{% endblock %}