{% extends "_base.html" %}

{% block content %}
<div class="vhs-blur vhs-duration-4">
	
    <a class="link grow light-pink" href="https://twitter.com/{{ user.username }}" target="_blank"><img src="{{ user.profile_img }}" class="br-100 w3 h3 grow ba b--light-pink bw1 pa1" alt="{{ user.username }}"></a>
    
    <h1 class="pb3 f3 f2-m f1-l domaine-display lh-solid">{% if year %}{{ year }}{% else %}Career{% endif %} Statistics for <a class="link dim light-pink hide-child nowrap" href="http://twitter.com/{{ user.username }}" target="_blank">{{ user }} <span class="light-purple child absolute">&rarr;</span></a></h1>	

    {% if user.first_pick %}
    <p class="f6 ttu tracked light-purple pb3">Picking since <a href="{% url 'race_id' id=user.first_pick.race_id %}" class="link dim light-pink">{{ user.first_pick.race.track }}, {{ user.first_pick.race.schedule.year }}</a></p>
    {% endif %}

    <div class="overflow-auto">
        <table class="f6 w-100 mw8 center ba bn-ns b--light-purple" cellspacing="0">
            {% if picks %}
            <thead>
                <tr class="tl f7 ttu tracked-l light-purple normal">
                    <th class="pa2 nowrap normal">No.</th>
                    <th class="pa2 nowrap normal">Race</th>
                    <th class="pa2 nowrap normal">Pick</th>
                    <th class="pa2 nowrap normal">Pos.</th>
                    <th class="pa2 nowrap normal">Pts.</th>
                </tr>
            </thead>
            <tbody class="lh-copy">
                {% for pick in picks %}
                <tr class="tl stripe-dark">
                    <td class="pa2 nowrap">{{ forloop.counter }}</td>
                    <td class="pa2 nowrap">
                        <a class="link dim light-pink" href="{% url 'race_id' id=pick.race_id %}">
                            {{ pick.race.track }}
                        </a>
                    </td>
                    <td class="pa2 nowrap">
                        <a class="link dim light-pink hide-child" href="https://twitter.com/{{ user.username }}/status/{{ pick.tweet_id }}" target="_blank">
                            #{{ pick.driver.default_number }} {{ pick.driver.last_name }}<span class="light-purple child">&rarr;</span>
                        </a>
                    </td>
                    <td class="pa2 nowrap">{% if pick.result %}{{ pick.result.position }}{% else %}-{% endif %}</td>
                    <td class="pa2 nowrap">{% if pick.result %}{{ pick.result.points }}{% else %}-{% endif %}</td>
                </tr>
                {% endfor %}
            </tbody>
            {% else %}
            <thead>
                <tr class="tl f7 ttu tracked-l light-purple">
                    <th class="pa2 nowrap normal">Season</th>
                    <th class="pa2 nowrap normal">Points</th>
                    <th class="pa2 nowrap normal">Starts</th>
                    <th class="pa2 nowrap normal">Wins</th>
                    <th class="pa2 nowrap normal">Podium</th>
                    <th class="pa2 nowrap normal">Top 10</th>
                    <th class="pa2 nowrap normal">Avg. Fin.</th>
                </tr>
            </thead>
            <tbody class="lh-copy">
                {% for season in seasons %}
                <tr class="tl stripe-dark">
                    <td class="pa2"><a href="https://randomfantasyracing.com/player/dan_starner/2021" class="link dim light-pink">{{ season.year }}</a></td>
                    <td class="pa2">{{ season.points }}</td>
                    <td class="pa2">{{ season.starts }}</td>
                    <td class="pa2">{{ season.wins }}</td>
                    <td class="pa2">{{ season.podiums }}</td>
                    <td class="pa2">{{ season.top_10s }}</td>
                    <td class="pa2">{{ season.avg_finish }}</td>
                </tr>
                {% endfor %}
            </tbody>
            {% endif %}
        </table>
    </div>
    <div class="pb3">
        <article class="pa3 pa5-ns" data-name="slab-stat-small">
            <div class="cf">
                <dl class="fl fn-l w-50 dib-l w-auto-l lh-title mr5-l">
                    <dd class="f6 fw4 ml0">Starts</dd>
                    <dd class="f3 f2-l ml0 domaine-display">{{ user.starts }}</dd>
                </dl>
                <dl class="fl fn-l w-50 dib-l w-auto-l lh-title mr5-l">
                    <dd class="f6 fw4 ml0">Points</dd>
                    <dd class="f3 f2-l ml0 domaine-display">{{ user.points }}</dd>
                </dl>
                <dl class="fl fn-l w-50 dib-l w-auto-l lh-title mr5-l">
                    <dd class="f6 fw4 ml0">Wins</dd>
                    <dd class="f3 f2-l ml0 domaine-display">{{ user.wins }}</dd>
                </dl>
                <dl class="fl fn-l w-50 dib-l w-auto-l lh-title mr5-l">
                    <dd class="f6 fw4 ml0">Podiums</dd>
                    <dd class="f3 f2-l ml0 domaine-display">{{ user.podiums }}</dd>
                </dl>
                <dl class="fl fn-l w-50 dib-l w-auto-l lh-title mr5-l">
                    <dd class="f6 fw4 ml0">Top 10s</dd>
                    <dd class="f3 f2-l ml0 domaine-display">{{ user.top_10s }}</dd>
                </dl>
                <dl class="fl fn-l w-50 dib-l w-auto-l lh-title">
                    <dd class="f6 fw4 ml0">Avg. Fin.</dd>
                    <dd class="f3 f2-l ml0 domaine-display">{{ user.avg_finish }}</dd>
                </dl>
            </div>
        </article>
    </div>

<div class="mt4">
    <ul class="list pv4 ph0 ma0 nowrap overflow-x-auto">
        <li class="dib mr1 mb2">
            <a href="{% url 'player' username=user.username %}" class="f6 f5-ns db pa2 link dim bg-light-pink purple ba b--light-purple">
                Career
            </a>
        </li>
        {% for season in seasons reversed %}
        <li class="dib mr1 mb2">
            <a href="{% url 'player_season' username=user.username year=season.year %}" class="f6 f5-ns db pa2 link dim light-pink ba b--light-purple">
                {{ season.year }}
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
        
<div class="pb3">
<h2 class="f4 f3-m f2-l domaine-display"><a href="{% url 'players' %}" class="link dim light-pink">&larr; All Players</a></h2>
</div>
</div>
{% endblock %}