{% extends "_base.html" %}

{% block content %}
<div class="vhs-blur vhs-duration-4">
    <h1 class="pb3 f3 f2-m f1-l domaine-display">{{ schedule.year }} Standings After {{ schedule.races_complete }} Races</h1>
    <input type="search" class="bg-black-10 bn f6 bb bw1 b--light-purple near-white light-table-filter pa2 mb4 plex-mono" data-table="order-table" placeholder="Search players&hellip;">
	
    <div class="overflow-auto">
        <table class="order-table f6 f5-l w-100 mw8 center ba bn-ns b--light-purple" cellspacing="0">
            <thead>
                <tr class="tl f7 ttu tracked-l light-purple">
                    <th class="pa2 nowrap normal">Pos.</th>
                    <th class="pa2 nowrap normal">Pts.</th>
                    <th class="pa2 nowrap normal">Back</th>
                    <th class="pa2 nowrap normal">Player</th>
                    <th class="pa2 nowrap normal">Starts</th>
                    <th class="pa2 nowrap normal">Wins</th>
                    <th class="pa2 nowrap normal">Top 5</th>
                    <th class="pa2 nowrap normal">Top 10</th>
                    <th class="pa2 nowrap normal">Avg. Fin.</th>
                </tr>
            </thead>
            <tbody class="lh-copy">
                {% for user in standings %}
                <tr class="tl stripe-dark">
                    <td class="pa2">{{ forloop.counter }}</td>
                    <td class="pa2">{{ user.points }}</td>
                    <td class="pa2">{% if forloop.counter == 1 %}-{% else %}{{ leader_points|add:user.points }}{% endif %}</td>
                    <td class="pa2"><a class="link dim light-pink" href="https://randomfantasyracing.com/player/mwoodski/2021">{{ user }}</a></td>
                    <td class="pa2">{{ user.starts }}</td>
                    <td class="pa2">{{ user.wins }}</td>
                    <td class="pa2">{{ user.top_5s }}</td>
                    <td class="pa2">{{ user.top_10s }}</td>
                    <td class="pa2">{{ user.avg_finish }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
    (function(document) {
        'use strict';
    
        var LightTableFilter = (function(Arr) {
    
            var _input;
    
            function _onInputEvent(e) {
                _input = e.target;
                var tables = document.getElementsByClassName(_input.getAttribute('data-table'));
                Arr.forEach.call(tables, function(table) {
                    Arr.forEach.call(table.tBodies, function(tbody) {
                        Arr.forEach.call(tbody.rows, _filter);
                    });
                });
            }
    
            function _filter(row) {
                var text = row.textContent.toLowerCase(), val = _input.value.toLowerCase();
                row.style.display = text.indexOf(val) === -1 ? 'none' : 'table-row';
            }
    
            return {
                init: function() {
                    var inputs = document.getElementsByClassName('light-table-filter');
                    Arr.forEach.call(inputs, function(input) {
                        input.oninput = _onInputEvent;
                    });
                }
            };
        })(Array.prototype);
    
        document.addEventListener('readystatechange', function() {
            if (document.readyState === 'complete') {
                LightTableFilter.init();
            }
        });
    
    })(document);
</script>

{% endblock %}
