{% extends "_base.html" %}

{% block content %}
<div class="vhs-blur vhs-duration-4">

    <h1 class="pb3 f3 f2-m f1-l domaine-display">Statistics</h1>
    
    <article class="pa3" data-name="slab-stat-small">
        <div class="cf">
            {% for stat in single_stats %}
            <dl class="fl fn-l w-50 dib-l w-auto-l lh-title mr5-l">
                <dd class="f6 fw4 ml0">{{ stat.title }}</dd>
                <dd class="f3 f2-l ml0 domaine-display">{{ stat.value }}</dd>
            </dl>
            {% endfor %}
        </div>
    </article>
    
    
    <h2 class="f4 f3-ns domaine-display">Most Common Picks</h2>
    <div class="overflow-auto">
        <table class="order-table f6 w-100 w-50-l mw8 center ba bn-ns b--light-purple" cellspacing="0">
            <thead>
                <tr class="tl f7 ttu tracked-l light-purple">
                    <th class="pa2 nowrap normal">Pos.</th>
                    <th class="pa2 nowrap normal">Pick</th>
                    <th class="pa2 nowrap normal">Picks</th>
                </tr>
            </thead>
            <tbody class="lh-copy">
                {% for driver in common_picks %}
                <tr class="tl stripe-dark">
                    <td class="pa2">{{ forloop.counter }}</td>
                    <td class="pa2">{{ driver.last_name }}</td>
                    <td class="pa2">{{ driver.num_picks }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <h2 class="f4 f3-ns domaine-display pt4">Most Starts</h2>
    <div class="overflow-auto">
        <table class="order-table f6 w-100 w-50-l mw8 center ba bn-ns b--light-purple" cellspacing="0">
            <thead>
                <tr class="tl f7 ttu tracked-l light-purple">
                    <th class="pa2 nowrap normal">Pos.</th>
                    <th class="pa2 nowrap normal">Player</th>
                    <th class="pa2 nowrap normal">Starts</th>
                </tr>
            </thead>
            <tbody class="lh-copy">
                {% for user in starts %}
                <tr class="tl stripe-dark">
                    <td class="pa2">{{ forloop.counter }}</td>
                    <td class="pa2"><span class="nowrap"><a class="link dim light-pink" href="{% url 'player' username=user.username %}">{{ user }}</a></span></td>
                    <td class="pa2">{{ user.starts }} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <h2 class="f4 f3-ns domaine-display pt4">Most Wins</h2>
    <div class="overflow-auto">
        <table class="order-table f6 w-100 w-50-l mw8 center ba bn-ns b--light-purple" cellspacing="0">
            <thead>
                <tr class="tl f7 ttu tracked-l light-purple">
                    <th class="pa2 nowrap normal">Pos.</th>
                    <th class="pa2 nowrap normal">Player</th>
                    <th class="pa2 nowrap normal">Wins</th>
                </tr>
            </thead>
            <tbody class="lh-copy">
                {% for user in most_wins %}
                <tr class="tl stripe-dark">
                    <td class="pa2">{{ forloop.counter }}</td>
                    <td class="pa2"><span class="nowrap"><a class="link dim light-pink" href="{% url 'player' username=user.username %}">{{ user }}</a></span></td>
                    <td class="pa2">{{ user.num_wins }} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <p class="f7 light-purple">Ties broken by number of Top 5s, Top 10s</p>

</div>
{% endblock %}