{% extends "_base.html" %}

{% block content %}
<div class="vhs-blur vhs-duration-4">

    <h1 class="pb3 f3 f2-m f1-l domaine-display">Statistics</h1>
    
    <article class="pa3" data-name="slab-stat-small">
        <div class="cf">
            {% for stat in single_stats %}
            <dl class="fl fn-l w-50 dib-l w-auto-l lh-title mr5-l">
                <dd class="f6 fw4 ml0">{{ stat.title }}</dd>
                <dd class="f3 f2-l ml0 domaine-display">{{ stat.value }}</dd>
            </dl>
            {% endfor %}
        </div>
    </article>
    
    
    <h2 class="f4 f3-ns domaine-display">Most Common Picks</h2>
    <div class="overflow-auto">
        <table class="order-table f6 w-100 w-50-l mw8 center ba bn-ns b--light-purple" cellspacing="0">
            <thead>
                <tr class="tl f7 ttu tracked-l light-purple">
                    <th class="pa2 nowrap normal">Pos.</th>
                    <th class="pa2 nowrap normal">Pick</th>
                    <th class="pa2 nowrap normal">Picks</th>
                </tr>
            </thead>
            <tbody class="lh-copy">
                {% for driver in common_picks %}
                <tr class="tl stripe-dark">
                    <td class="pa2">{{ forloop.counter }}</td>
                    <td class="pa2">{{ driver.last_name }}</td>
                    <td class="pa2">{{ driver.num_picks }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <h2 class="f4 f3-ns domaine-display pt4">Most Starts</h2>
    <div class="overflow-auto">
        <table class="order-table f6 w-100 w-50-l mw8 center ba bn-ns b--light-purple" cellspacing="0">
            <thead>
                <tr class="tl f7 ttu tracked-l light-purple">
                    <th class="pa2 nowrap normal">Pos.</th>
                    <th class="pa2 nowrap normal">Player</th>
                    <th class="pa2 nowrap normal">Starts</th>
                </tr>
            </thead>
            <tbody class="lh-copy">
                {% for user in starts %}
                <tr class="tl stripe-dark">
                    <td class="pa2">{{ forloop.counter }}</td>
                    <td class="pa2"><span class="nowrap"><a class="link dim light-pink" href="{% url 'player' username=user.username %}">{{ user }}</a></span></td>
                    <td class="pa2">{{ user.starts }} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <h2 class="f4 f3-ns domaine-display pt4">Most Wins</h2>
    <div class="overflow-auto">
        <table class="order-table f6 w-100 w-50-l mw8 center ba bn-ns b--light-purple" cellspacing="0">
            <thead>
                <tr class="tl f7 ttu tracked-l light-purple">
                    <th class="pa2 nowrap normal">Pos.</th>
                    <th class="pa2 nowrap normal">Player</th>
                    <th class="pa2 nowrap normal">Wins</th>
                </tr>
            </thead>
            <tbody class="lh-copy">
                                <tr class="tl stripe-dark">
        <td class="pa2">1</td>
        <td class="pa2"><span class="nowrap"><a class="link dim light-pink" href="player/dgoodin24">@dgoodin24</a></span></td>
        <td class="pa2">13</td>
    </tr>
                    <tr class="tl stripe-dark">
        <td class="pa2">2</td>
        <td class="pa2"><span class="nowrap"><a class="link dim light-pink" href="player/MattTaliaferro">@MattTaliaferro</a></span></td>
        <td class="pa2">13</td>
    </tr>
                    <tr class="tl stripe-dark">
        <td class="pa2">3</td>
        <td class="pa2"><span class="nowrap"><a class="link dim light-pink" href="player/Ben_A_09">@Ben_A_09</a></span></td>
        <td class="pa2">12</td>
    </tr>
                    <tr class="tl stripe-dark">
        <td class="pa2">4</td>
        <td class="pa2"><span class="nowrap"><a class="link dim light-pink" href="player/brian_wiggins">@brian_wiggins</a></span></td>
        <td class="pa2">11</td>
    </tr>
                    <tr class="tl stripe-dark">
        <td class="pa2">5</td>
        <td class="pa2"><span class="nowrap"><a class="link dim light-pink" href="player/nascargo19">@nascargo19</a></span></td>
        <td class="pa2">11</td>
    </tr>
                    <tr class="tl stripe-dark">
        <td class="pa2">6</td>
        <td class="pa2"><span class="nowrap"><a class="link dim light-pink" href="player/DrunkenFunGuy">@DrunkenFunGuy</a></span></td>
        <td class="pa2">10</td>
    </tr>
                    <tr class="tl stripe-dark">
        <td class="pa2">7</td>
        <td class="pa2"><span class="nowrap"><a class="link dim light-pink" href="player/TysonLaut23">@TysonLaut23</a></span></td>
        <td class="pa2">10</td>
    </tr>
                    <tr class="tl stripe-dark">
        <td class="pa2">8</td>
        <td class="pa2"><span class="nowrap"><a class="link dim light-pink" href="player/bhauff_549">@bhauff_549</a></span></td>
        <td class="pa2">10</td>
    </tr>
                    <tr class="tl stripe-dark">
        <td class="pa2">9</td>
        <td class="pa2"><span class="nowrap"><a class="link dim light-pink" href="player/JoeBuczek">@JoeBuczek</a></span></td>
        <td class="pa2">10</td>
    </tr>
                    <tr class="tl stripe-dark">
        <td class="pa2">10</td>
        <td class="pa2"><span class="nowrap"><a class="link dim light-pink" href="player/RowdyFuller51">@RowdyFuller51</a></span></td>
        <td class="pa2">10</td>
    </tr>
                    <tr class="tl stripe-dark">
        <td class="pa2">11</td>
        <td class="pa2"><span class="nowrap"><a class="link dim light-pink" href="player/mimmy104">@mimmy104</a></span></td>
        <td class="pa2">10</td>
    </tr>
                    <tr class="tl stripe-dark">
        <td class="pa2">12</td>
        <td class="pa2"><span class="nowrap"><a class="link dim light-pink" href="player/Steamboat_TJ">@Steamboat_TJ</a></span></td>
        <td class="pa2">9</td>
    </tr>
                    <tr class="tl stripe-dark">
        <td class="pa2">13</td>
        <td class="pa2"><span class="nowrap"><a class="link dim light-pink" href="player/Darcy4Harvick">@Darcy4Harvick</a></span></td>
        <td class="pa2">9</td>
    </tr>
                    <tr class="tl stripe-dark">
        <td class="pa2">14</td>
        <td class="pa2"><span class="nowrap"><a class="link dim light-pink" href="player/MrMoron9989">@MrMoron9989</a></span></td>
        <td class="pa2">9</td>
    </tr>
                    <tr class="tl stripe-dark">
        <td class="pa2">15</td>
        <td class="pa2"><span class="nowrap"><a class="link dim light-pink" href="player/lvracer8">@lvracer8</a></span></td>
        <td class="pa2">9</td>
    </tr>
                    <tr class="tl stripe-dark">
        <td class="pa2">16</td>
        <td class="pa2"><span class="nowrap"><a class="link dim light-pink" href="player/schmoe84">@schmoe84</a></span></td>
        <td class="pa2">9</td>
    </tr>
                    <tr class="tl stripe-dark">
        <td class="pa2">17</td>
        <td class="pa2"><span class="nowrap"><a class="link dim light-pink" href="player/LarrySpencer21">@LarrySpencer21</a></span></td>
        <td class="pa2">9</td>
    </tr>
                    <tr class="tl stripe-dark">
        <td class="pa2">18</td>
        <td class="pa2"><span class="nowrap"><a class="link dim light-pink" href="player/oddjob626">@oddjob626</a></span></td>
        <td class="pa2">9</td>
    </tr>
                    <tr class="tl stripe-dark">
        <td class="pa2">19</td>
        <td class="pa2"><span class="nowrap"><a class="link dim light-pink" href="player/jay_wilkins17">@jay_wilkins17</a></span></td>
        <td class="pa2">9</td>
    </tr>
                    <tr class="tl stripe-dark">
        <td class="pa2">20</td>
        <td class="pa2"><span class="nowrap"><a class="link dim light-pink" href="player/mearn">@mearn</a></span></td>
        <td class="pa2">8</td>
    </tr>
                    <tr class="tl stripe-dark">
        <td class="pa2">21</td>
        <td class="pa2"><span class="nowrap"><a class="link dim light-pink" href="player/jd_brisentine">@jd_brisentine</a></span></td>
        <td class="pa2">8</td>
    </tr>
                    <tr class="tl stripe-dark">
        <td class="pa2">22</td>
        <td class="pa2"><span class="nowrap"><a class="link dim light-pink" href="player/recjus85">@recjus85</a></span></td>
        <td class="pa2">8</td>
    </tr>
                    <tr class="tl stripe-dark">
        <td class="pa2">23</td>
        <td class="pa2"><span class="nowrap"><a class="link dim light-pink" href="player/bharden94">@bharden94</a></span></td>
        <td class="pa2">8</td>
    </tr>
                    <tr class="tl stripe-dark">
        <td class="pa2">24</td>
        <td class="pa2"><span class="nowrap"><a class="link dim light-pink" href="player/Joe_Daddy_">@Joe_Daddy_</a></span></td>
        <td class="pa2">8</td>
    </tr>
                    <tr class="tl stripe-dark">
        <td class="pa2">25</td>
        <td class="pa2"><span class="nowrap"><a class="link dim light-pink" href="player/Briancullather">@Briancullather</a></span></td>
        <td class="pa2">8</td>
    </tr>
                                </tbody>
        </table>
    </div>
    <p class="f7 light-purple">Ties broken by number of Top 5s, Top 10s</p>

</div>
{% endblock %}